.container .row .home-title{
   text-align: center;
  font-size: 3rem;
  margin-top: 2.5rem;
  letter-spacing: 0.8rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
#form{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#center{
  margin-top:2rem;
  letter-spacing: 3px;
  font-size: 2rem;
}

#name{
  margin-top:2rem ;
}

#name,#password{
  margin: 1.5rem 5rem;
  height: 2.8rem;
}

.second{
  text-align: center;
  background-color:#45b2f5;
 margin: 1.5rem 5rem;
}

.sign{
  text-align: center;
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  padding: 1rem;
}

.sign:hover{
  text-decoration: underline;
}